{% extends 'base.html' %}
{% block content %}

<h1>{{ card['name'] }}</h1>

<div class="row">
    <div class="col-sm-4">
        <img src={{card['image_url']}} class="rounded" width="400" height="559">
    </div>
    <div class="col-sm-4">
        <h2>This card used in {{total_decks}} decks!!</h2>
        {% for deck in decks[:9] %}
        <a href={{url_for('deckdetail', id=deck['Inc_id'])}} class="deck-link">{{deck['deckname']}}</a>
        <br>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        3
    </div>
</div>

<h2>association</h2>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>if this card be use in deck...</th>
        <th>this card also used.</th>
        <th>confidence</th>th>
    </tr>
    </thead>
    <tbody>
    {% for _,rule in association.iterrows() %}
    <tr>
        <th>
            {% for card in rule['LHS_card'] %}
                <a href={{url_for('carddetail', id=card['Inc_id'])}}>
                <img src={{card['image_url']}} width="200" height="280">
                </a>
            {% endfor %}
        </th>
        <th>
            {% for card in rule['RHS_card'] %}
                <a href={{url_for('carddetail', id=card['Inc_id'])}}>
                <img src={{card['image_url']}} width="200" height="280">
                </a>
            {% endfor %}
        </th>
        <th>
            {{rule['confidence']}}
        </th>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
