{% extends 'base.html' %}{%  block content %}

<main role="main">
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.freeword.label() }}{{ form.freeword }}
        {{ form.red.label() }}{{ form.red }}
        {{ form.white.label() }}{{ form.white }}
        {{ form.green.label() }}{{ form.green }}
        {{ form.blue.label() }}{{ form.blue }}
        {{ form.black.label() }}{{ form.black }}
        {{ form.submit() }}
    </form>

    {{session['freeword']}}
    {{session['red'] }}
    {{session['white']}}
    {{session['green'] }}
    {{session['blue']}}
    {{session['black']}}


    <div class="album py-5 bg-light">
        {{total}}
        <div class="container">

            <div class="row">
                {% for deck in decks %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ deck['deckname'] }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for cardname in deck['main'] %}
                        <li class="list-group-item">{{cardname}}</li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <a href={{url_for('deckdetail', id=deck['Inc_id'])}} class="card-link">Deck link</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {{ pagination.links }}
    </div>

</main>

{% endblock %}